<section class="row" th:fragment="login">
	<div class="col-xs-12 col-sm-9 col-sm-offset-1 col-md-6 col-md-offset-3">
		<form class="form-signin login" action="#" th:action="@{/}" th:object="${user}" method="post">
		<!--
		    <div class="has-error" th:if="${#fields.hasErrors('*')}">
				<label th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</label>
			</div>  -->

			<h2 class="form-signin-heading">Please sign in</h2>
			<div th:class="${#fields.hasErrors('userName')}?'has-error':''">
				<label for="inputuser" class="sr-only">User</label> 
				<input th:field="*{userName}"  id="inputuser" class="form-control" placeholder="User" type="text">
				<label class="control-label" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></label>
			</div>

			<div th:class="${#fields.hasErrors('pass')}?'has-error':''">
				<label for="inputPassword" class="sr-only">Password</label> 
				<input th:field="*{pass}"  id="inputPassword" class="form-control" placeholder="Password" type="password">
				<label class="control-label" th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}"></label>
			</div>
			<div class="checkbox">
				<label> <input value="remember-me" type="checkbox">Remember me</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</form>
		<div th:if="${error}" class="error">
			<li th:each="err : ${error}" th:text="${err}" />
		</div>
	</div>
</section>